@{
    ViewData["Title"] = "Foreword";
}
    <p>
        Payment based on .NET Core / ASP.NET Core Develop and support cross-platform payment SDK set for multiple merchants. Simplified the processing flow of API calls and related notifications.
    </p>
    <p class="text-danger">
        Note: This Sample is for testing purposes only, and it basically covers commonly used APIs. In actual business, please be sure to cooperate with related API documents and instructions.
    </p>
<br />
<h5>NuGet package:</h5>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Package</th>
            <th scope="col">NuGet</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td><a asp-controller="Alipay" asp-action="Index">Alipay</a></td>
            <td><a href="https://www.nuget.org/packages/Essensoft.AspNetCore.Payment.Alipay" target="_blank">Essensoft.AspNetCore.Payment.Alipay</a></td>
            <td>
                <a href="https://www.nuget.org/packages/Essensoft.AspNetCore.Payment.Alipay" target="_blank">
                    <img src="https://img.shields.io/nuget/v/Essensoft.AspNetCore.Payment.Alipay.svg?style=flat-square" />
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><a asp-controller="WeChatPay" asp-action="Index">WeChat Pay</a></td>
            <td><a href="https://www.nuget.org/packages/Essensoft.AspNetCore.Payment.WeChatPay" target="_blank">Essensoft.AspNetCore.Payment.WeChatPay</a></td>
            <td>
                <a href="https://www.nuget.org/packages/Essensoft.AspNetCore.Payment.WeChatPay" target="_blank">
                    <img src="https://img.shields.io/nuget/v/Essensoft.AspNetCore.Payment.WeChatPay.svg?style=flat-square" />
                </a>
            </td>
        </tr>
    </tbody>
</table>
