@{
    ViewData["Title"] = "WeChat Pay";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">product</th>
            <th scope="col">interface</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Credit card payment-Submit credit card payment</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/micropay.php?chapter=9_10&index=1" target="_blank">https://api.mch.weixin.qq.com/pay/micropay</a></td>
            <td><a asp-controller="WeChatPay" asp-action="MicroPay">Test now</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Public account payment-unified order</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/jsapi.php?chapter=9_1" target="_blank">https://api.mch.weixin.qq.com/pay/unifiedorder</a></td>
            <td><a asp-controller="WeChatPay" asp-action="PubPay">Test now</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Scan code payment-unified order</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/native.php?chapter=9_1" target="_blank">https://api.mch.weixin.qq.com/pay/unifiedorder</a></td>
            <td><a asp-controller="WeChatPay" asp-action="QrCodePay">Test now</a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>APP Payment-Uniform order</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/app/app.php?chapter=9_1" target="_blank">https://api.mch.weixin.qq.com/pay/unifiedorder</a></td>
            <td><a asp-controller="WeChatPay" asp-action="AppPay">Test now</a></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>H5 payment-unified order</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/H5.php?chapter=9_20&index=1" target="_blank">https://api.mch.weixin.qq.com/pay/unifiedorder</a></td>
            <td><a asp-controller="WeChatPay" asp-action="H5Pay">Test now</a></td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Small program payment-unified order</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/wxa/wxa_api.php?chapter=9_1" target="_blank">https://api.mch.weixin.qq.com/pay/unifiedorder</a></td>
            <td><a asp-controller="WeChatPay" asp-action="LiteAppPay">Test now</a></td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>checking order</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/micropay.php?chapter=9_2" target="_blank">https://api.mch.weixin.qq.com/pay/orderquery</a></td>
            <td><a asp-controller="WeChatPay" asp-action="OrderQuery">Test now</a></td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>Cancel the order</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/micropay.php?chapter=9_11&index=3" target="_blank">https://api.mch.weixin.qq.com/secapi/pay/reverse</a></td>
            <td><a asp-controller="WeChatPay" asp-action="Reverse">Test now</a></td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>Close order</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/native.php?chapter=9_3" target="_blank">https://api.mch.weixin.qq.com/pay/closeorder</a></td>
            <td><a asp-controller="WeChatPay" asp-action="CloseOrder">Test now</a></td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>Request a refund</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/micropay.php?chapter=9_4" target="_blank">https://api.mch.weixin.qq.com/secapi/pay/refund</a></td>
            <td><a asp-controller="WeChatPay" asp-action="Refund">Test now</a></td>
        </tr>
        <tr>
            <th scope="row">11</th>
            <td>Check refund</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/micropay.php?chapter=9_5" target="_blank">https://api.mch.weixin.qq.com/pay/refundquery</a></td>
            <td><a asp-controller="WeChatPay" asp-action="RefundQuery">Test now</a></td>
        </tr>
        <tr>
            <th scope="row">12</th>
            <td>Download statement</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/micropay.php?chapter=9_6" target="_blank">https://api.mch.weixin.qq.com/pay/downloadbill</a></td>
            <td><a asp-controller="WeChatPay" asp-action="DownloadBill">Test now</a></td>
        </tr>
        <tr>
            <th scope="row">13</th>
            <td>Download fund flow</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/micropay.php?chapter=9_18&index=7" target="_blank">https://api.mch.weixin.qq.com/pay/downloadfundflow</a></td>
            <td><a asp-controller="WeChatPay" asp-action="DownloadFundFlow">Test now</a></td>
        </tr>
        <tr>
            <th scope="row">14</th>
            <td>Enterprise payment to change</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/tools/mch_pay.php?chapter=14_2" target="_blank">https://api.mch.weixin.qq.com/mmpaymkttransfers/promotion/transfers</a></td>
            <td><a asp-controller="WeChatPay" asp-action="Transfers">Test now</a></td>
        </tr>
        <tr>
            <th scope="row">15</th>
            <td>Inquiry of corporate payment零钱</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/tools/mch_pay.php?chapter=14_3" target="_blank">https://api.mch.weixin.qq.com/mmpaymkttransfers/gettransferinfo</a></td>
            <td><a asp-controller="WeChatPay" asp-action="GetTransferInfo">Test now</a></td>
        </tr>
        <tr>
            <th scope="row">16</th>
            <td>Corporate payment to bank card</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/tools/mch_pay.php?chapter=24_2" target="_blank">https://api.mch.weixin.qq.com/mmpaysptrans/pay_bank</a></td>
            <td><a asp-controller="WeChatPay" asp-action="PayBank">Test now</a></td>
        </tr>
        <tr>
            <th scope="row">17</th>
            <td>Inquiry of corporate payment Bank card</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/tools/mch_pay.php?chapter=24_3" target="_blank">https://api.mch.weixin.qq.com/mmpaysptrans/query_bank</a></td>
            <td><a asp-controller="WeChatPay" asp-action="QueryBank">Test now</a></td>
        </tr>
        <tr>
            <th scope="row">18</th>
            <td>Obtain RSA encrypted public key</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/tools/mch_pay.php?chapter=24_7&index=4" target="_blank">https://fraud.mch.weixin.qq.com/risk/getpublickey</a></td>
            <td><a asp-controller="WeChatPay" asp-action="GetPublicKey">Test now</a></td>
        </tr>
    </tbody>
</table>